RewriteEngine on

# Applications
# RewriteRule ^/?(.*)$ https://gitlab.utwente.nl/lbonino/fair-course-2021-2022/$1 [R=307,L]

#main repository
Redirect 302 /FAIR-course-UT/2025/group12/main https://github.com/KionaB/FAIRscripts https://github.com/KionaB/FAIRscripts/

#original data csv
Redirect 302 /FAIR-course-UT/2025/group12/originalData https://github.com/KionaB/FAIRscripts/blob/6e02ee18b7f15cf83bcfe7083cedb60cc042d1d8/original/train_lending_club.csv

#modified original data folder (contains script to modify and modified csv)
Redirect 302 /FAIR-course-UT/2025/group12/modificationsOriginalData https://github.com/KionaB/FAIRscripts/blob/6e02ee18b7f15cf83bcfe7083cedb60cc042d1d8/pre-fairification

#ontology rdf
Redirect 302 /FAIR-course-UT/2025/group12/ontology/rdf https://github.com/KionaB/FAIRscripts/blob/6e02ee18b7f15cf83bcfe7083cedb60cc042d1d8/fairified/metadata/FAIRscripts-Protege.rdf

#ontology owl xml
Redirect 302 /FAIR-course-UT/2025/group12/ontology/owlXML https://github.com/KionaB/FAIRscripts/blob/6e02ee18b7f15cf83bcfe7083cedb60cc042d1d8/fairified/metadata/Protege%20Fair%20Data%20group12.owx

#semantic model
Redirect 302 /FAIR-course-UT/2025/group12/semanticModel https://github.com/KionaB/FAIRscripts/blob/474d8502dd63859eb5517b1dd14ead217428044a/fairified/metadata/updatedSemanticModel.png

#data shacl
Redirect 302 /FAIR-course-UT/2025/group12/dataSHACL https://github.com/KionaB/FAIRscripts/blob/474d8502dd63859eb5517b1dd14ead217428044a/fairified/metadata/shacl-train-lending-club-filtered1000-csv.ttl

#fairified data ttl
Redirect 302 /FAIR-course-UT/2025/group12/data https://github.com/KionaB/FAIRscripts/blob/6e02ee18b7f15cf83bcfe7083cedb60cc042d1d8/fairified/data/train-lending-club-filtered1000-csv.ttl

#metadata shacl
Redirect 302 /FAIR-course-UT/2025/group12/metadataSHACL https://github.com/KionaB/FAIRscripts/blob/0e391216f144da221eed2a21d8d030ead39f92c9/FAIR%20Data%20Point/meta-shacl-train-lending-club.ttl

#fdp Dataset
Redirect 302 /FAIR-course-UT/2025/group12/fdpDataset hhttps://github.com/KionaB/FAIRscripts/blob/03e7875dd12f1302fa434973fe539459c43c4185/FAIR%20Data%20Point/FAIRified_Loan_Dataset.ttl

#fdp Catalog
Redirect 302 /FAIR-course-UT/2025/group12/fdpCatalog https://github.com/KionaB/FAIRscripts/blob/03e7875dd12f1302fa434973fe539459c43c4185/FAIR%20Data%20Point/FAIR_Catalog.ttl

#fdp Original Distribution
Redirect 302 /FAIR-course-UT/2025/group12/fdpOriginalDistribution https://github.com/KionaB/FAIRscripts/blob/03e7875dd12f1302fa434973fe539459c43c4185/FAIR%20Data%20Point/FAIR_Loan_Dataset.ttl

#fdp Fairified Distribution
Redirect 302 /FAIR-course-UT/2025/group12/fdpFairifiedDistribution https://github.com/KionaB/FAIRscripts/blob/03e7875dd12f1302fa434973fe539459c43c4185/FAIR%20Data%20Point/FAIRified_Loan_Dataset.ttl
